<div class="container py-3">
  <div class="row">
    <div class="col-md-6">
      <h2>Employee management</h2>
    </div>
    <div class="col ml-auto text-danger">
      <button class="btn btn-outline-success">
        <i class="fa fa-plus"></i> Add Employee
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-3 shadow">
        <div class="card-body">
          <h5 class="card-title">Anup Sharma</h5>
          <h6 class="card-subtitle mb-2 text-muted">Mean Stack Developer</h6>
          <span class="badge badge-danger">Developer</span>
          <hr />
          <button type="button" class="btn btn-sm btn-outline-primary">
            Edit
          </button>
          <button type="button" class="btn btn-sm btn-outline-danger m-2">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" [class.show]="">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
      </div>
    </div>
  </div>
</div>
